main {
    position: relative;
}

.borderer {
    border: 3px solid $grayAF;
    background-color: $white;
}

.borderer_left {
    border-right: none;
    border-left: 3px solid$grayAF;
}

.borderer_right {
    border-left: none;
    border-right: 3px solid$grayAF;
}

.red_text {
    color: $red;
    font-weight: 700;
}

.bg_img-small_left {
    background-image: url(../img/text_bg_small_left.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg_img-small_right {
    background-image: url(../img/text_bg_small_right.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.img-big {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.main {
    position: relative;
    height: 100vh;
    @include adaptive-value("padding-top", 90, 70, 1);
    padding-bottom: 45px;

    &::before {
        content: '';
        position: absolute;
        background: linear-gradient(180deg, rgba(37, 42, 72, 0.84) 0%, rgba(172, 168, 174, 0.00) 100%);
        width: 100%;
        height: 20%;
        top: 0;
        left: 0;
        z-index: -2;
    }

    &::after {
        content: '';
        position: absolute;
        background: linear-gradient(0deg, rgba(37, 42, 72, 0.84) 0%, rgba(172, 168, 174, 0.00) 100%);
        width: 100%;
        height: 20%;
        bottom: 0;
        left: 0;
        z-index: -2;
    }

    &_bg {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 40%;
        z-index: -3;
    }

    &_text-wrap {
        text-align: center;
        height: 100%;
        width: calc(100% - 40px);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &_title {
        text-shadow: 0px 2px 24px rgba(36, 40, 59, 0.60);
        @include adaptive-value("font-size", 100, 48, 1);
        font-weight: 360;
        line-height: 50%;
        background: linear-gradient(180deg, #FCFCFC -26%, #E2E7F2 129%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 50px 0;
    }

    &_text {
        color: $white;
        @include adaptive-value("font-size", 24, 20, 1);
        @include adaptive-value("margin-bottom", 21, 16, 1);
    }

    &_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 234px;
        height: 64px;
        margin: 0 auto;
        text-shadow: 0px 2px 8px rgba(36, 40, 59, 0.60);
        @include adaptive-value("font-size", 30, 22, 1);
        font-weight: 700;
        line-height: 50px;
        background: linear-gradient(180deg, #FCFCFC -26%, #E2E7F2 129%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: relative;

        .bg_btn {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }

    &_social-links {
        position: absolute;
        right: 40px;
        bottom: 55px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include media ("<desktop") {
            flex-direction: row;
            right: 20px;
            top: 20px;
            bottom: auto
        }
    }

    &_link {
        @include adaptive-value("width", 40, 32, 1);
        @include adaptive-value("height", 40, 32, 1);
        border-radius: 50%;
        transition: all .3s ease 0s;

        svg {
            path {
                fill: $white;
                transition: all .3s ease 0s;
            }
        }

        @media (hover:hover) {
            &:hover {
                filter: drop-shadow(5px 4px 28px rgba(255, 255, 255, 0.80));

                svg {
                    path {
                        fill: #DFDFDF;
                        transition: all .3s ease 0s;
                    }
                }
            }
        }

        @media (hover:none) {
            &:active {
                filter: drop-shadow(0px 0px 28px rgba(255, 255, 255, 0.80));

                svg {
                    path {
                        fill: #DFDFDF;
                    }
                }
            }
        }
    }
}

.page {
    text-align: center;
    @include adaptive-value("padding-bottom", 190, 120, 1);

    .page_all {
        display: none;

        .content_wrap {
            width: 100%;
            margin-left: auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include media ("<desktop") {
                max-width: 100%;
            }
        }

        .page_title {
            width: 100%;
            text-align: start;
            color: $black;
            @include adaptive-value("font-size", 80, 36, 1);
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
            letter-spacing: -1.6px;
            text-transform: uppercase;
            text-shadow: 0px 0px 8px $black;
            padding: 0 15px;
            @include adaptive-value("padding-bottom", 65, 25, 1);
        }
    }

    .active-page {
        display: block;
    }

    &__one {

        &_img-two {
            width: 100%;
            height: auto;
        }
    }

    &_part-one {
        height: 100vh;
        position: relative;
    }

    &_img-one {
        position: absolute;
        inset: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: right;
        }
    }

    .page_phraze-wrap {
        position: relative;
    }

    &_phraze {
        display: inline-block;
        position: absolute;
        right: 0;
        @include adaptive-value("top", 65, 70, 1);
        z-index: 1;
        color: $black;
        @include adaptive-value("max-width", 850, 285, 1);
        height: auto;
        @include adaptive-value("font-size", 36, 18, 1);
        font-weight: 600;
        line-height: 130%;
        @include adaptive-value("padding-top", 15, 7, 1);
        @include adaptive-value("padding-bottom", 15, 7, 1);
        @include adaptive-value("padding-right", 30, 15, 1);
        @include adaptive-value("padding-left", 35, 15, 1);
        text-align: start;
        text-indent: 20px;

        &.bg_img-big_right {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }

    &_author {
        position: absolute;
        right: 0;
        bottom: 66px;
        z-index: 1;
        color: $black;
        text-align: center;
        font-family: "Caveat";
        @include adaptive-value("font-size", 42, 24, 1);
        font-weight: 500;
        line-height: 119%;
        padding: 5px 22px;
        padding-left: 35px;
    }

    &_text-wrap {
        max-width: 960px;
        width: calc(100% - 60px);
        margin: 0 auto;
        @include adaptive-value("padding-top", 175, 60, 1);
        @include adaptive-value("padding-bottom", 175, 60, 1);
    }

    &_text {
        text-indent: 50px;
        color: $black;
        text-align: justify;
        @include adaptive-value("font-size", 36, 18, 1);
        font-weight: 500;
        line-height: 130%;

        &:not(:last-child) {
            @include adaptive-value("margin-bottom", 20, 10, 1);
        }
    }

    &_two {

        .page_phraze {
            left: 0;
            max-width: 590px;

            @include media ("<tablet") {
                max-width: 270px;
            }
        }

        .page_author {
            left: 0;
            right: auto;
        }

        .page_part_three {
            position: relative;
            padding: 100px 0;
        }

        .page_bg {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            // object-fit: cover;
            z-index: -1;
        }

        .page_img-one {
            img {
                object-position: left;
            }
        }

        .content_top,
        .content_bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 60px;

            @include media ("<desktop") {
                flex-direction: column
            }

            .page_phraze {
                position: static;
            }
        }

        .content_top {
            @include adaptive-value("margin-bottom", 125, 15, 1);

            .page_phraze {
                max-width: 850px;

                @include media ("<desktop") {
                    max-width: 100%;
                    width: 100%;
                    border-left: none;
                    text-align: center;
                }
            }
        }

        .content_bottom {
            @include media ("<desktop") {
                flex-direction: column-reverse;
            }

            .page_phraze {
                max-width: 740px;
                text-align: center;

                @include media ("<desktop") {
                    max-width: 100%;
                    width: 100%;
                    border-right: none;
                }
            }
        }

        .emblem_wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            @include adaptive-value("padding-left", 243, 0, 1);

            @include media ("<desktop") {
                padding-left: 0;
            }
        }

        .emblem_text {
            color: $black;
            @include adaptive-value("font-size", 36, 28, 1);
            font-weight: 600;
            line-height: 120%;
            @include adaptive-value("margin-bottom", 20, 15, 1);
        }

        .emblem {
            max-width: 320px;
            width: 100%;
            height: auto;

            @include media ("<tablet") {
                max-width: 160px;
            }
        }

        .sable {
            max-width: 610px;
            width: 100%;
            @include adaptive-value("padding-right", 85, 0, 1);

            @include media ("<desktop") {
                padding-left: 0;
            }

            @include media ("<tablet") {
                max-width: 305px;
            }
        }


    }

    &_three {
        .page_part-three {
            position: relative;
            padding: 100px 0;

            @include media ("<desktop") {
                padding-top: 0;
            }

            .page_phraze {
                max-width: 930px;
                position: static;

                @include media ("<desktop") {
                    max-width: 100%;
                    border-left: none;
                }
            }
        }

        .page_phraze,
        .page_author {
            left: 0;
            right: auto;
        }

        .page_img-one {
            img {
                object-position: left;
            }
        }

        .page_img-two {
            @include adaptive-value("width", 630, 340, 1);
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            @include media ("<desktop") {
                position: static;
                margin-bottom: 30px;
                float: left;
            }
        }

        .content_wrap {
            max-width: 930px;
        }

        .page_title {
            max-width: 675px;
        }


    }

    &_four {
        .page_part-one {
            height: auto;
            position: static;
        }

        .page_part-two {
            position: relative;
            @include adaptive-value("margin-bottom", 80, 40, 1);

            .page_phraze {
                max-width: 650px;

                @include media ("<tablet") {
                    max-width: 290px;
                }
            }

            .page_img-one {
                position: static;
            }
        }

        .page_part-three {
            position: relative;

            .page_phraze {
                max-width: 590px;
                left: 0;
                right: auto;
                top: auto;
                @include adaptive-value("bottom", 180, 40, 1);


                @include media ("<tablet") {
                    max-width: 290px;
                }
            }

            .page_img-one {
                position: static;

                img {
                    object-position: left;
                }
            }
        }

        .page_part-five {
            position: relative;
            @include adaptive-value("padding-top", 130, 10, 1);
            max-width: 1440px;
            width: 100%;
            margin: 0 auto;

            @include media ("<desktop") {
                padding-top: 0;
            }

            .page_img {
                position: absolute;
                top: 0;
                right: 0;
                z-index: -1;
                @include adaptive-value("max-width", 685, 240, 1);
                max-width: 685px;
                width: 100%;
                height: auto;

                @include media ("<desktop") {
                    position: static;
                    float: right;
                    max-width: 650px;
                }
            }

            .content_wrap {
                max-width: 750px;
                margin: 0 auto 0 0;
                align-items: flex-start;
                @include adaptive-value("row-gap", 80, 15, 1);

                @include media ("<desktop") {
                    max-width: 100%;
                }
            }

            .page_phraze {
                position: static;

                @include media ("<desktop") {
                    max-width: 100%;
                }
            }

            .page_title {
                padding-bottom: 0;
                @include adaptive-value("padding-left", 60, 15, 1);

                @include media ("<desktop") {
                    padding: 0 15px;
                }
            }

        }
    }

}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    left: 50%;
    bottom: 60px;
    translate: -50%;

    .page-btn,
    .arrow-btn {
        width: 48px;
        height: 48px;
        @include adaptive-value("width", 48, 32, 1);
        @include adaptive-value("height", 48, 32, 1);
        border: 1px solid #DFDFDF;
        background: #FFF;
    }

    .page-btn {
        color: $black;
        text-align: center;
        @include adaptive-value("font-size", 30, 20, 1);
        font-weight: 700;
        line-height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        &.active {
            background-color: $blue;
            border: none;
            color: $white;
        }
    }

    .arrow-btn {
        img {
            width: 100%;
            height: 100%;
        }
    }
}